.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $container-color;
  height: $header-height;
  justify-content: space-between;
  padding-left: $pl-1-5;
  padding-right: $pl-1-5;
  color: $text-color;

  &__logo {
    align-items: center;

    img {
      height: $small-img-height;
    }
  }

  &__icons {
    align-items: center;

    font-size: $biggest-font-size;
  }
  &__icon:last-child {
    margin-left: $mb-1;
  }
}
