.Navbar {
  width: 100%;
  position: fixed;
  background-color: $container-color;
  height: $header-height;
  justify-content: space-between;
  padding-left: $pl-1-5;
  padding-right: $pl-1-5;

  &__logo {
    align-items: center;

    img {
      height: $small-img-height;
    }
  }

  &__icons {
    align-items: center;
  }
  &__icon:last-child {
    margin-left: $mb-1;
  }
}
